form.woo-shop-filter {
	margin: 0;
	padding: 0;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	select, button {
		padding: 1em;
		border: 1px solid #ddd;
		border-radius: 5px;
		width: calc(25% - 10px);
		box-sizing: border-box;
		font-size: 1rem;
		font-weight: 700;
		letter-spacing: -0.25px;
		appearance: none;
		position: relative;
		height: 60px !important;
		margin: 0 !important;
		text-decoration: none !important;
		font-family: 'Cabin', Arial;

		@media only screen and (max-width: 640px) {
			width: 100% !important;
			margin-bottom: 1em !important;
		}
	}

	select {
		&::placeholder {
			color: #333;
		}
	}

	button {
		color: #fff;
		background: #212121;
		border: 1px solid #212121;
		cursor: pointer;
		transition: all 0.3s;

		&:hover {
			background: #f00;
			border: 1px solid #f00;
		}
	}
}

section.woo-shop-filter {
	display: flex;
	justify-content: space-between;
	font-family: 'Cabin', Arial;
	margin-top: 1em;
	padding-bottom: 2em;
	padding-top: 3em;
	border-top: 1px dashed #ccc;
	flex-wrap: wrap;

	& > div {
		width: 30%;

		& > img {
			max-width: 100%;
			margin: 0 auto;
		}

		ul {
			margin-top: 1em;

			li {
				padding-bottom: 0.75em;
				line-height: 1.8;
			}
		}

		&:last-child {
			width: 25%;

			h2 {
				color: #f00;
			}

			p {
				margin-top: 1em;
				margin-bottom: -1.2em;
				line-height: 1.8;
				display: block;
			}
		}

		@media only screen and (max-width: 640px) {
			width: 50% !important;
		}
	}

	& > div:nth-child(2),
	& > div:nth-child(3) em {
		@media only screen and (max-width: 640px) {
			display: none;
		}
	}
}

section.woo-shop-filter-nav {
	display: flex;
	font-family: 'Cabin', Arial;

	span {
		margin-right: 2em;
		font-size: 18px;
	}
}
